<div class="contenPage">
  <mat-sidenav-container>

    <mat-sidenav  #sidenav mode="side" class="sidenav">

      <mat-toolbar class="sidenav-toolbar">
        <button mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
      </mat-toolbar>

      <div class="buttonContainer">
        <button mat-icon-button routerLink="/"  [matTooltip]="'weather' | translate | titlecase" matTooltipPosition="after">
          <mat-icon>cloud</mat-icon>
        </button>

        <button mat-icon-button routerLink="/historial" [matTooltip]="'historical' | translate" matTooltipPosition="after">
          <mat-icon>history</mat-icon>
        </button>

        <button mat-icon-button routerLink="/favorite" [matTooltip]="'favorites' | translate" matTooltipPosition="after">
          <mat-icon>favorite</mat-icon>
        </button>


      </div>

      <div class="footerNav" *ngIf="isMobile">

        <button mat-icon-button [matMenuTriggerFor]="menu" [matTooltip]="'language' | translate  | titlecase" >
          <mat-icon>language</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let lng of availableLangs" (click)="setLng(lng.code)" >{{ lng.name | translate | titlecase }}</button>
        </mat-menu>

        <mat-slide-toggle (change)="setTheme($event.checked)" [checked]="false" [matTooltip]="'theme' | translate | titlecase">  </mat-slide-toggle>

      </div>

    </mat-sidenav>


    <mat-sidenav-content>

      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Weather APP</span>

        <span class="example-spacer"></span>

        <div>
          <mat-slide-toggle (change)="setTheme($event.checked)" [checked]="false" *ngIf="!isMobile">
            <mat-icon>dark_mode</mat-icon>
          </mat-slide-toggle>

          <button mat-button [matMenuTriggerFor]="menu"  *ngIf="!isMobile">
            <mat-icon>language</mat-icon>
            <span>{{ currentLng | uppercase }} </span>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let lng of availableLangs" (click)="setLng(lng.code)" >{{ lng.name | translate | titlecase }}</button>
          </mat-menu>

          <button mat-button [matMenuTriggerFor]="menuCity" >{{ cityName }} </button>
          <mat-menu #menuCity="matMenu">
            <mat-form-field appearance="outline">
              <mat-label>{{'search' | translate | titlecase}} </mat-label>
              <input matInput [placeholder]="'write_here' | translate | titlecase " (click)="$event.stopPropagation()" (input)="autoCompleteCity($event)" />
            </mat-form-field>

            <ng-container *ngIf="(searchResults$ | async)?.length" >
              <button mat-menu-item *ngFor="let city of searchResults$|async" (click)="selectCity(city)" >
                {{city.name | titlecase }}
                <span class="favorite-icon" (click)="addFavorite(city,$event)">
                  <mat-icon>{{ city.name | isFavorite }} </mat-icon>
                </span>
              </button>
            </ng-container>

          </mat-menu>

        </div>


      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>



</div>

